body {
  --foreground: #1F1717;
  --background: #fff;
  --button-primary: #5367FF;
  --button-secondary: #12D18E;
  --border-color: #ccc;
  --hor-pad: 20px;
  --vertical-pad: 10px;
  --vertical-mar:20px
}

body.dark {
  --foreground: #1F1717;
  --background: #fff;
  --button-primary: #5367FF;
  --button-secondary: #12D18E;
  --border-color: #aaa;
  /* --hor-pad: 20px; */
  /* --vertical-pad: 10px; */
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #1F1717;
    --foreground: #FCF5ED;
    --button-primary: #5367FF;
    --button-secondary: #12D18E;
    --border-color: #ccc;
    /* --hor-pad: 20px; */
    /* --vertical-pad: 10px; */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}