.container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: var(--button-secondary);
}

.btn {
    cursor: pointer;
    background-color: var(--button-secondary);
    color: var(--foreground);
    padding: var(--vertical-pad) var(--hor-pad);
    border-radius: 5px;
    font-size: 1rem;
}