.container {
    display: flex;
    color: var(--foreground);
    width: 100%;
    font-size: 1.2rem;
    margin: var(--vertical-pad) 0;
}
.container > * {
    margin: 0 10px;
}
.tabs {
    background-color: var(--background);
    color: var(--foreground);
    cursor: pointer;
    border: 0;
    font-size: 1.2rem;
}

.activeTab {
    background-color: var(--background);
    color: var(--foreground);
    cursor: pointer;
    border: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--button-secondary);
}